@import 'SASS/Reset';
@import 'SASS/Usability';
@import 'SASS/GlobalRules';
@import 'SASS/Var';
@import 'SASS/W3css';
//DOCS: https://www.w3schools.com/w3css/w3css_animate.asp
@import 'SASS/W3cssReverse';

@import 'SASS/FontAwesome/fontawesome';
@import 'SASS/FontAwesome/brands';
@import 'SASS/FontAwesome/regular';
@import 'SASS/FontAwesome/solid';
//DOCS: https://fontawesome.com/how-to-use/on-the-web/using-with/sass


// CREAT APP DEFULTS + VARs
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $backgroundColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $mainFont;
}

.App-link {
  color: #09d3ac;
}


//NAVBAR CSS
nav {
  background: $backgroundColor;
  border-top: solid 1px $mainColor;
  width: 100%;
  display: flex;
  flex-flow: column;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 999;
  .menuBar {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    .menuBarLeft {
      padding: 8px 5px;
      //width: 150px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      .nameBox {
        padding: 0 8px;
        transition: transform 0.2s ease-in;
        &:hover {
          color: $mainColor;
          transform: translate(0px) scale(1.12)
        }
      }
      i {
        margin: 0 8px;
        transition: transform 0.2s ease-in;
        &:hover {
          color: $mainColor;
          transform: translate(0px) scale(1.25)
        }
      }
    }
    .menuBarRight {
      padding: 8px 5px;
      //width: 150px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      i {
        //margin: 8px 0;
        //width: 5%;
        margin: 0 8px;
        transition: transform 0.2s ease-in;
        &:hover {
          color: $mainColor;
          transform: translate(0px) scale(1.25)
        }
      }
    }
  }
  button {
    //
  }
  @media (max-width: $tablet) {}
  @media (max-width: $mobile) {}
}
.w3-animate-bottom {
  animation:animatebottom 1.2s;
}
.toggleMainBottom {
  z-index: 900;
  width: 100%;
  border-top: solid 1px $mainColor;
  position: fixed;
  bottom: 0px;
  padding-bottom: 65px;
  .xInSlidUp {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}
.toggleMainBottomHide {
  z-index: 900;
  width: 100%;
  border-top: solid 1px $mainColor;
  position: fixed;
  bottom: -500px;
  padding-bottom: 65px;
}


/*
@media (max-width: $tablet) {}
@media (max-width: $mobile) {}
*/


/*
// Green Soc menu
#main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 1em;
  background-color: #F1F1F1;
  box-sizing: border-box;
}
#menu {
  position: absolute;
  width: 300px;
  background-color: #333;
  padding: 1em;
  box-sizing: border-box;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 0;
  text-align: left;
  font-family: 'arial';
  color: #F1F1F1;
  font-weight: bold;
  font-size: 20px;
}
#nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2000;
  height: 4em;
  padding: 1em;
  box-sizing: border-box;
  cursor: pointer;
}
#nav:hover {
  opacity: .6;
}
*/
