@import 'SASS/Reset';
@import 'SASS/Usability';
@import 'SASS/GlobalRules';
@import 'SASS/Var';
@import 'SASS/W3css';
//DOCS: https://www.w3schools.com/w3css/w3css_animate.asp
@import 'SASS/W3cssReverse';

@import 'SASS/FontAwesome/fontawesome';
@import 'SASS/FontAwesome/brands';
@import 'SASS/FontAwesome/regular';
@import 'SASS/FontAwesome/solid';
//DOCS: https://fontawesome.com/how-to-use/on-the-web/using-with/sass


// CREAT APP DEFULTS + VARs
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $backgroundColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $mainFont;
}

.App-link {
  color: #09d3ac;
}

@import 'SASS/NavBar';
@import 'SASS/NavBar/SlideUp';
@import 'SASS/Homepage';



.hideImportant {
  z-index: -999;
}



/*
@media (max-width: $tablet) {}
@media (max-width: $mobile) {}
*/


/*
// Green Soc menu
#main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 1em;
  background-color: #F1F1F1;
  box-sizing: border-box;
}
#menu {
  position: absolute;
  width: 300px;
  background-color: #333;
  padding: 1em;
  box-sizing: border-box;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 0;
  text-align: left;
  font-family: 'arial';
  color: #F1F1F1;
  font-weight: bold;
  font-size: 20px;
}
#nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2000;
  height: 4em;
  padding: 1em;
  box-sizing: border-box;
  cursor: pointer;
}
#nav:hover {
  opacity: .6;
}
*/
