@import 'SASS/Reset';
@import 'SASS/Usability';
@import 'SASS/GlobalRules';
@import 'SASS/Var';
@import 'SASS/W3css';
//DOCS: https://www.w3schools.com/w3css/w3css_animate.asp
@import 'SASS/W3cssReverse';

@import 'SASS/FontAwesome/fontawesome';
@import 'SASS/FontAwesome/brands';
@import 'SASS/FontAwesome/regular';
@import 'SASS/FontAwesome/solid';
//DOCS: https://fontawesome.com/how-to-use/on-the-web/using-with/sass


// CREAT APP DEFULTS + VARs
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $backgroundColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $mainFont;
}

.App-link {
  color: #09d3ac;
}

@import 'SASS/NavBar';
@import 'SASS/NavBar/SlideUp';
@import 'SASS/Homepage';
@import 'SASS/ReactDemos';

.active {
  color: $mainColor;
}

.leftbar {
  width: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  i {
    font-size: 2.1rem;
    &:hover {
      color: $mainColor;
      //border: solid 1px $mainColor;
    }
  }
  img {
    height: 2.1rem;
    width: 2.1rem;
    text-align: center;
    margin: 0 auto 0 auto;
    filter: invert(1);
    &:hover {
      filter: invert(60%) sepia(94%) saturate(1873%) hue-rotate(124deg) brightness(100%) contrast(93%);
    }
  }
  @media (max-width: $tablet) {
    display: none;
  }
  @media (max-width: $mobile) {
  }
}

//HTML sectrion
.HTMLBox{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 92%;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-bottom: 70px;
  .make23box-img {
    display: flex;
    align-items: center;
    width: 50%;
    border: 1px solid $backgroundColor;
    img {
      width: 100%;
    }
    &:hover {
      border: 1px solid $mainColor;
      //border: solid 1px $mainColor;
    }
  }
  @media (max-width: $tablet) {
    .make23box {
      width: 50%;
    }
    .make23box-img {
      width: 50%;
    }
  }
  @media (max-width: $mobile) {
    .make23box {
      width: 100%;
      ul {
       list-style-type: disc;
       list-style-position: inside;
       font-size: 0.85rem;
       padding-left: 2px;
      }
    }
    .make23box-img {
      width: 100%;
    }
  }
}

.hideImportant {
  z-index: -999;
}

//CSS SASS LESS section
.CSScBox {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 92%;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-bottom: 70px;
  .make23box {
    width: 65%;
    //border: 1px solid $mainFont;
    padding: 10px 15px;
    margin: 0px;
    text-align: left;
    a {
      color: $mainColor;
      text-decoration: none;
    }
    p {
      padding: 0px;
      margin: 0.75rem 0;
      font-size: 1.15rem;
    }
    ul {
     list-style-type: disc;
     list-style-position: inside;
     font-size: 1.2rem;
     padding-left: 15px;
    }
    ol {
     list-style-type: decimal;
     list-style-position: inside;
    }
    ul ul, ol ul {
     list-style-type: circle;
     list-style-position: inside;
     margin-left: 15px;
    }
    ol ol, ul ol {
     list-style-type: lower-latin;
     list-style-position: inside;
     margin-left: 15px;
    }
  }
  .make23box-img {
    display: flex;
    align-items: center;
    width: 35%;
    //border: 1px solid $mainFont;
    //text-align: center;
    align-content: center;
    justify-content: center;
    i {
      font-size: 13rem;
    }
  }
  @media (max-width: $tablet) {
    .make23box {
      width: 50%;
    }
    .make23box-img {
      width: 50%;
    }
  }
  @media (max-width: $mobile) {
    .make23box {
      width: 100%;
      ul {
       list-style-type: disc;
       list-style-position: inside;
       font-size: 0.85rem;
       padding-left: 2px;
      }
    }
    .make23box-img {
      width: 100%;
    }
  }
}



/*
@media (max-width: $tablet) {}
@media (max-width: $mobile) {}
*/


/*
// Green Soc menu
#main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 1em;
  background-color: #F1F1F1;
  box-sizing: border-box;
}
#menu {
  position: absolute;
  width: 300px;
  background-color: #333;
  padding: 1em;
  box-sizing: border-box;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 0;
  text-align: left;
  font-family: 'arial';
  color: #F1F1F1;
  font-weight: bold;
  font-size: 20px;
}
#nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2000;
  height: 4em;
  padding: 1em;
  box-sizing: border-box;
  cursor: pointer;
}
#nav:hover {
  opacity: .6;
}
*/
