@import 'SASS/Reset';
@import 'SASS/Usability';
@import 'SASS/GlobalRules';
@import 'SASS/Var';
@import 'SASS/W3css';
//DOCS: https://www.w3schools.com/w3css/w3css_animate.asp
@import 'SASS/W3cssReverse';

@import 'SASS/FontAwesome/fontawesome';
@import 'SASS/FontAwesome/brands';
@import 'SASS/FontAwesome/regular';
@import 'SASS/FontAwesome/solid';
//DOCS: https://fontawesome.com/how-to-use/on-the-web/using-with/sass


// CREAT APP DEFULTS + VARs
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $backgroundColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $mainFont;
}

.App-link {
  color: #09d3ac;
}

@import 'SASS/NavBar';
@import 'SASS/NavBar/SlideUp';

//Homepage
.tileBox {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  padding-bottom: 70px;
  .gridBox {
    width: 33.333%;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    padding: 13px 0;
    //height: 250px;
    //border: solid 1px white;
    i {
      font-size: 13rem;
    }
  }
  .Odd {
    border: solid 1px white;
  }
  @media (max-width: $tablet) {
    .gridBox {
      width: 50%;
    }
  }
  @media (max-width: $mobile) {
    .gridBox {
      width: 100%;
    }
  }
}
.w3-spin{
  animation:w3-spin 13s infinite linear;
}



/*
@media (max-width: $tablet) {}
@media (max-width: $mobile) {}
*/


/*
// Green Soc menu
#main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 1em;
  background-color: #F1F1F1;
  box-sizing: border-box;
}
#menu {
  position: absolute;
  width: 300px;
  background-color: #333;
  padding: 1em;
  box-sizing: border-box;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 0;
  text-align: left;
  font-family: 'arial';
  color: #F1F1F1;
  font-weight: bold;
  font-size: 20px;
}
#nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2000;
  height: 4em;
  padding: 1em;
  box-sizing: border-box;
  cursor: pointer;
}
#nav:hover {
  opacity: .6;
}
*/
