//Homepage
.tileBox {
//  position: absolute;
//  top: 0px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  padding-bottom: 70px;
  .gridBox {
    width: 33.333%;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    padding: 13px 0;
    //height: 250px;
    //border: solid 1px white;
    border: solid 1px white;
    i {
      font-size: 13rem;
    }
  }
  .Odd {
    border: solid 1px white;
  }
  .locktop {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
  }
  .hover {
    &:hover {
      color: $mainColor;
      border: solid 1px $mainColor;
    }
  }
  .react-Selected, .html5-Selected {
    color: $mainColor;
    z-index: 99;
  }
  @media (max-width: $tablet) {
    .gridBox {
      width: 50%;
    }
  }
  @media (max-width: $mobile) {
    .gridBox {
      width: 100%;
    }
  }
}
.w3-spin{
  animation:w3-spin 13s infinite linear;
}
