$tablet: 501px; // based on 500- mobile
$desktop: 801px; // based on 500 to 800 tablet

$backgroundColor: #282c34;

$mainColor: #09d3ac;//Create React Green
$mainColor2: #b2c3e7;

$mainFont: #ffffff;
