$mobile: 500px; // based on 500- mobile
$tablet: 800px; // based on 500 to 800 tablet

$backgroundColor: #1F2224;//#282c34;
$altBackgroundColor: #34363b;

$mainColor: #09d3ac;//Create React Green
$mainColor2: #b2c3e7;

$mainFont: #ffffff;
$altFont: #a0a0a1;
