//SLIDEUP BOX MAIN MENU
.toggleMainBottom, .toggleMainBottomHide {// set in NaveBar onclick
  background: $backgroundColor;
  z-index: 900;
  width: 100%;
  opacity: 0.78;
  border-top: solid 1px $mainColor;
  position: fixed;
  bottom: 0px;
  padding: 1em 0 85px 0;
  .xInSlidUp {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .flexMe {
    display: flex;
    justify-content: space-between;
    .slideUpLeft {
      width: 45%;
      display: flex;
      flex-flow: column;
      padding: 0 0 0 10%;
      h2 {
        text-transform: uppercase;
        font-size: 1.2rem;
        text-align: left;
      }
      p {
        color: $altFont;
        font-size: 0.85rem;
        text-align: left;
        text-shadow: $altBackgroundColor 1px 1px;
      }
      .followMe{
        .iconsSlideUp {
          display: flex;
          justify-content: space-around;
          i {
            margin: 0 8px;
            transition: transform 0.2s ease-in;
            &:hover {
              color: $mainColor;
              transform: translate(0px) scale(1.25)
            }
          }
        }
      }
    }
    .slideUpRight {
      width: 45%;
      display: flex;
      flex-flow: column;
      padding: 0 10% 0 0;
      h2 {
        text-transform: uppercase;
        font-size: 1.2rem;
        text-align: left;
      }
      form {
        width: 100%;
        .fields {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          width: 100%;
          .half {
            width: 49%;
            margin: 0 0 4px 0;
            input {
              width: 100%;
              background: $altBackgroundColor;
              color: $mainFont;
              border: solid 2px $backgroundColor;
              font-size: 1.0rem;
              padding: 0.5em 0.75em;
              &:focus {
                border: solid 2px $mainColor;
              }
            }
          }
          .full {
            width: 100%;
            textarea {
              width: 100%;
              background: $altBackgroundColor;
              color: $mainFont;
              border: solid 2px $backgroundColor;
              font-size: 1.0rem;
              padding: 0.5em 0.75em;
              &:focus {
                border: solid 2px $mainColor;
              }
            }
          }
        }
        .actions {
          display: flex;
          input {
            background: $mainColor;
            color: $mainFont;
            font-size: 1.1rem;
            width: 100px;
            padding: 0.5em 0;
            border: solid 2px $mainColor;
            font-weight: bold;
            text-shadow: $backgroundColor 2px 2px;
            &:hover {
              background: $altBackgroundColor;
            }
          }
          .resetButton {
            border: solid 2px $mainColor;
            background: $backgroundColor;
            margin: 0 6px;
          }
        }
      }
    }
  }
  @media (max-width: $tablet) {}
  @media (max-width: $mobile) {}
}
.animate-bottom-rev {
  animation:animatebottomRev 0.8s;
}
.toggleMainBottomHide {
  z-index: 900;
  width: 100%;
  border-top: solid 1px $mainColor;
  position: fixed;
  bottom: -10000px;
  padding-bottom: 65px;
}
