/* adding icon suport*/
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #ffffff;
}

.svg-icon circle {
  stroke: #ffffff;
  stroke-width: 1;
}


.svg-icon-primary {
  width: 1em;
  height: 1em;
}

.svg-icon-primary path,
.svg-icon-primary polygon,
.svg-icon-primary rect {
  fill: #007bff;
}

.svg-icon-primary circle {
  stroke: #007bff;
  stroke-width: 1;
}


.svg-icon-secondary {
  width: 1em;
  height: 1em;
}

.svg-icon-secondary path,
.svg-icon-secondary polygon,
.svg-icon-secondary rect {
  fill: #6c757d;
}

.svg-icon-secondary circle {
  stroke: #6c757d;
  stroke-width: 1;
}


.svg-icon-success {
  width: 1em;
  height: 1em;
}

.svg-icon-success path,
.svg-icon-success polygon,
.svg-icon-success rect {
  fill: #28a745;
}

.svg-icon-success circle {
  stroke: #28a745;
  stroke-width: 1;
}


.svg-icon-danger {
  width: 1em;
  height: 1em;
}

.svg-icon-danger path,
.svg-icon-danger polygon,
.svg-icon-danger rect {
  fill: #dc3545;
}

.svg-icon-danger circle {
  stroke: #dc3545;
  stroke-width: 1;
}



.svg-icon-warning {
  width: 1em;
  height: 1em;
}

.svg-icon-warning path,
.svg-icon-warning polygon,
.svg-icon-warning rect {
  fill: #ffc107;
}

.svg-icon-warning circle {
  stroke: #ffc107;
  stroke-width: 1;
}



.svg-icon-info {
  width: 1em;
  height: 1em;
}

.svg-icon-info path,
.svg-icon-info polygon,
.svg-icon-info rect {
  fill: #17a2b8;
}

.svg-icon-info circle {
  stroke: #17a2b8;
  stroke-width: 1;
}



.svg-icon-light {
  width: 1em;
  height: 1em;
}

.svg-icon-light path,
.svg-icon-light polygon,
.svg-icon-light rect {
  fill: #f8f9fa;
}

.svg-icon-light circle {
  stroke: #f8f9fa;
  stroke-width: 1;
}



.svg-icon-dark {
  width: 1em;
  height: 1em;
}

.svg-icon-dark path,
.svg-icon-dark polygon,
.svg-icon-dark rect {
  fill: #343a40;
}

.svg-icon-dark circle {
  stroke: #343a40;
  stroke-width: 1;
}



.svg-icon-muted {
  width: 1em;
  height: 1em;
}

.svg-icon-muted path,
.svg-icon-muted polygon,
.svg-icon-muted rect {
  fill: #6c757d;
}

.svg-icon-muted circle {
  stroke: #6c757d;
  stroke-width: 1;
}





